.prodHeaderCont{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: blue;
}

.prodpicCont{
    width: 50%;
    flex:4;
}

.prodInfoCont{
    flex:2;
} 

.prodSlideCont img{
    width: 50%;
    /* height: 100%; */
}