.prodHeaderCont{
    font-family: 'CustomFont', sans-serif;
}

.prodHeader{
    display: flex;
    align-items: center;
    font-family: 'CustomFont', sans-serif;
    margin: 20px 0px;
}

.prodpicCont{
    width: 60%;
    flex:4;
}

.prodInfoCont{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;

    flex:3;
    padding: 0px 60px;
} 

.prodSlideCont img{
    width: 100%;
    /* height: 100%; */
}

.prodDescP{
    text-align: left;
}

.sizeLink{
    text-decoration-line: underline;

}

.sizeCont{
    display: flex;
    width: 100%;
    padding: 10px 0px;
    /* height: 100%; */
    /* background-color: blue; */

}

.priceCont{
    flex: 2;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.priceCont p{
    margin: 0px;
}

.selectSizeCont{
    flex: 4;
}

.selectSizeCont select{
    width: 100%;
    border: 2px solid ;
    border-radius: 0px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'CustomFont', sans-serif;
    text-align: center;
    padding: 5px 20px;
    cursor: pointer;
}

.btnCont{
    width: 100%;
    margin-top: 20px;
}

.btnCont button{
    width: 100%;
    padding: 10px 0px;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'CustomFont', sans-serif;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCont img{
    width: 30px;
    margin-left: 10px;
}

.prodDescCont{
    background-color: rgb(244, 240, 238);
    padding: 20px 0px;
}
.prodDes{
    display: flex;
    margin: 10px 0px;
}

.descTextCont{
    flex:4;
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.descImgCont{
    flex:4
}

.descImgCont img{
    width: 75%;
}

.youMayLikeItems{
    padding: 10px 70px;
}

.youMayLike{
    margin: 20px 0px;
    padding: 10px 0px;
}

.zoomInSwiper{
    width: 100%;
    height: 100%;
}

.zoomImgDialog{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px;
    border: none;
}

.zoomInImgCont{
    flex: 1;
}

.zoomSlideCont img{
    height: 90vh;
}

.zoomInHeader{
    position: absolute;
    right: 0;
    padding: 10px;
    background-color: whitesmoke;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 10px;
    z-index: 9999;
}
.productSwiper{
    width: 100%;
    height: 100%;
}