.landingcatHeaderCont{
    font-family: 'CustomFont', sans-serif;
}

/* Breakpoint for laptop screens */
@media (min-width: 769px){
    .landingcatItemsCont {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-family: 'CustomFont', sans-serif;
    }
    .landingcatHeaderCont h1 {
        font-size: 2rem; /* Adjust font size for laptop */
    }

    .landingcatHeaderCont p {
        font-size: 1.25rem; /* Adjust font size for laptop */
    }

    .landingcatItem a {
        text-decoration: none;
        color: black;
    }

    .landingcatItem img {
        width: 250px; /* Adjust image size for laptop */
        height: 250px;
    }

    .landingcatItem p {
        font-size: 1.25rem; /* Adjust text size for laptop */
    }
}

/* Breakpoint for mobile devices */
@media (max-width: 768px) {
    .landingcatHeaderCont {
        background-color: #f8f8f8;
        padding: 20px 0px;
    }
    .landingcatHeaderCont h1 {
        font-size: 1.25rem; /* Adjust font size for mobile */
        /* background-color: blueviolet; */
    }

    .landingcatHeaderCont p {
        font-size: 1rem; /* Adjust font size for mobile */
    }

    .landingcatItemsCont {
        display: flex;
        flex-direction: column; /* Stack items vertically on mobile */
        align-items: center;
    }

    .landingcatItem {
        margin: 10px 0px; /* Adjust margin for mobile */
        background-color: rgb(244, 240, 238);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
    }

    .landingcatItem img {
        width: 225px; /* Adjust image size for mobile */
        height: 225px;
    }

    .landingcatItem p {
        position: absolute;
        font-size: 1rem; /* Adjust text size for mobile */
        font-family: 'CustomFont', sans-serif;
    }
}