.adminnavbarCont{
    display: flex;
    flex-direction: column;
    padding: 16px 0px 18px 0px;
}

.adminnav-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminnav-items div{
    margin: 0px 20px;
    font-family: 'CustomFont', sans-serif;
    letter-spacing: 2px;
}

.adminlogoCont{
    margin-bottom: 18px;
}


.adminlogoImg {
    height: 100px;
}